<div class="row">
  <div class="offset2 span8">
    <p style="font-size:18px; line-height:27px"> <b> SpellApp </b> started as a fun means for our two kids to improve their spellings and, 
    at the same time, learn about web development. Since learning spellings is not a lot of fun in 
    itself, we had to add a lot of bells and whistles - stars, scores, games - to make it interesting. </p>
    <p style="font-size:18px; line-height:27px"> Later we discovered that there is no free application on the web that provides a structured
    way to improve spellings so we decided to extend some of the functionality and make it available to
    everybody. </p>
    <p style="font-size:18px; line-height:27px"> The site keeps track of the words that the user gets right/wrong and tailors the next sessions
    accordingly. The words that are mis-spelled are given again till the user gets them.</p>
    <p style="font-size:18px; line-height:27px"> The site also has the option for schools to use it to give weekly word-lists to their
    students. If you are interested in using this feature, please send a request through the Feedback
    button on the right of the screen. </p>
  </div>
</div>


