
<!DOCTYPE html>
<html>
<head>
  <title>Aadi Surprise</title>
  <script type="text/javascript" src="/aadi_bday/d3.js"></script>
  <script type="text/javascript" src="/lib/prototype.js"></script>
  <script type="text/javascript" src="/box2d/box2djs.js"></script>
</head>
<body>
    <canvas id="canvas" width='800' height='500' style="background-color:#eeeeee;"></canvas>
    <script type="text/javascript" src="/box2d/helloworld.js"></script>
    <link href="/aadi_bday/aadi_bday.css" rel="stylesheet" type="text/css"> 
</body>
</html>

