<div class="row">
  <div class="offset2 span8">
    <p style="font-size:18px; line-height:27px"> 
    We take your privacy very seriously. The best way to ensure
    safety of confidential information is to not get it at all. In keeping with this,
    the only information we get from Google is your name. We do not have any other information
    about you - email, password, age or anything else. We use your google account only to identify
    you as a unique user so that we can give keep track of the words you have already attempted
    correctly and not repeat them. Even this information is not shared with anybody.
    </p>

    <p style="font-size:18px; line-height:27px"> 
    You should not get any email from meliora.in asking for your email/password or any other
    information.
    </p>
  </div>
</div>


