<!DOCTYPE html>
<html>
<head>
  <title>Sahil</title>
  <script type="text/javascript" src="/bday/d3.js"></script>
  <link href="/bday/sugarpixels.css" rel="stylesheet" type="text/css"> 
</head>
<body>
  <div id="outer">
    <p id="instructions">Touch the red targets</p>
    <div id="container">
    </div>
  </div>
  <script type="text/javascript" src="/bday/sugarpixels.js"></script>
</body>
</html>

